.wrapper {
  width: 98%;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  @include breakpoint {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
  }
  @include breakpoint2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
  }
}
