* {
  box-sizing: border-box;
}

body {
  margin-top: 50px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: #F9F5FE;
}

h1 {
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 1px;
  color: #3E3E3E;
}

p {
  font-size: 12px;
}
